<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findmyinternship"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

       	<application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.findmyinternship.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	        <activity android:name="com.example.findmyinternship.CompanyActivity"></activity>
	        <activity android:name="com.example.findmyinternship.RegisteringActivity"></activity>	        
	        <activity android:name="com.example.findmyinternship.ConnectCompanyActivity"></activity>
	        <activity android:name="com.example.findmyinternship.StudentActivity"></activity>
       	    <activity android:name="com.example.findmyinternship.ConnectStudentActivity"></activity>
       	    <activity android:name="com.example.findmyinternship.Profile"></activity>
       	    <activity android:name="com.example.findmyinternship.Student_account"></activity>
       	    <activity android:name="com.example.findmyinternship.StudentHelp"></activity>
       	    <activity android:name="com.example.findmyinternship.CompanyOffersDeposit"></activity>
       	    <activity android:name="com.example.findmyinternship.ViewOffer"></activity>
       	    <activity android:name="com.example.findmyinternship.StudentApplication"></activity>
	        
        
    	</application>
</manifest>





